{% extends 'base.html'%}

{% block title %} Home {% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <h2>Welcome, {{ user.username }}!</h2>
    <p>You are logged in.</p>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% else %}
    <h2>You are not login</h2>
    <p>Please log in or register to access more features.</p>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a> 
    
{% endif %}

{% endblock %}